/* Gaming Images */
.game-codwaw .game-thumb { background-image: url(../images/games/codwaw.gif); }
.game-cod4 .game-thumb { background-image: url(../images/games/cod4.gif); }
.game-cod2 .game-thumb { background-image: url(../images/games/cod2.gif); }
.game-bf2142 .game-thumb { background-image: url(../images/games/bf2142.gif); }
.game-cs16 .game-thumb { background-image: url(../images/games/cs16.gif); }